body {
    background-color: rgb(255, 255, 165);
    font-family: Georgia, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-style: italic;
}

.image{
    
    border-radius: 10px;
    height: 400px;
}

.link-button {
    text-decoration: none;
    color: black;
    border: 1px solid gray;
    background-color: #f2f2f2;
    padding: 5px;
    border-radius: 5px;
    box-shadow: 2px 3px #888888;
}
h1 {
  color: rgb(68, 234, 31);
  text-shadow: -2px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}